

@font-face {
    font-family: 'Project2020Fonts';
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Project2020Fonts', 'Roboto';
}

h1, h2, h3, h4, h5, title {
    font-family: 'Project2020Fonts','Bebas Neue';
}

.containers {
    text-align: center;
    padding: 20px;
}

.profilepic img {
    height: 200px;
    width: auto;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

.main-padding{
    padding-top: 20px!important;
    padding-bottom: 100px!important;
}



.row {
    width: auto;
    height: auto;
}

.setting-top {
    display: flex;
    flex-direction: row;
}

.setting-mdl {
    display: flex;
    flex-direction: row;
}

    .setting-mdl > div {
        flex: 0 100%;
    }

.setting-txt {
    text-align: left;
}

.setting-img img {
    height: 100px;
    width: auto;
    padding-left: 50%;
}

.setting-btm {
    display: flex;
    flex-direction: row;
    border-top: RGBA(112,112,112,0.46) 1px solid;
}

    .setting-btm > div {
        flex: 0 100%;
    }

.setting-edit {
    font-weight: normal;
    color: #1185E0;
    text-align: left;
}

.setting-btm img {
    height: 30px;
    width: auto;
    margin-top: 15px;
    padding-left: 73%;
}

.spacer {
    border: black 1px solid;
}

.box-size {
    box-sizing: border-box;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Remove extra left and right margins, due to padding in columns */


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 15px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: RGBA(112,112,112,0.46) 1px solid;
    width: auto;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
